body {
    font-family: 'Open Sans', sans-serif;
    color: #535353;
}

.img-fluid {
    max-width: 100% !important;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}

/** Login 1 start **/
.login-1 {
    background: rgba(0, 0, 0, 0.04) url(../img/bg-image.jpg) top left repeat;
    background-size: cover;
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 1;
    min-height: 100vh;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-1 .login-inner-form {
    max-width: 380px;
    margin: 0 auto;
    color: #717171;
    text-align: center;
}

.login-1 .login-inner-form .details {
    padding: 25px 30px 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.login-1 .login-inner-form img {
    margin-bottom: 15px;
    height: 30px;
}

.login-1 .login-inner-form h3 {
    margin: 0 0 25px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #717171;
}

.login-1 .login-inner-form .form-group {
    margin-bottom: 25px;
}

.login-1 .login-inner-form .input-text {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #e8e7e7;
    outline: none;
    color: #717171;
    border-radius: 3px;
    height: 45px;
}

.login-1 .login-inner-form .btn-md {
    cursor: pointer;
    padding: 12px 30px 11px 30px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
}

.login-1 .login-inner-form .social-list{
    margin-bottom: 0;
    padding: 0;
}

.login-1 .login-inner-form .checkbox a {
    font-size: 14px;
    color: #717171;
    float: right;
}

.login-1 .login-inner-form .terms{
    margin-left: 3px;
}

.login-1 .login-inner-form .checkbox {
    margin-bottom: 25px;
    font-size: 14px;
}

.login-1 .login-inner-form .form-check{
    float: left;
    margin-bottom: 0;
}

.login-1 .login-inner-form .form-check a {
    color: #717171;
    float: right;
}

.login-1 .login-inner-form .form-check-input {
    position: absolute;
    margin-left: 0;
}

.login-1 .login-inner-form .form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: -25px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
}

.login-1 .login-inner-form .form-check-label {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 14px;
}

.login-1 .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #0f96f9;
    border-color: #0f96f9;
}

.login-1 .login-inner-form input[type=checkbox]:checked + label:before {
    font-weight: 300;
    color: #f3f3f3;
    line-height: 15px;
    font-size: 14px;
    content: "\2713";
}

.login-1 .login-inner-form input[type=checkbox], input[type=radio] {
    margin-top: 4px;
}

.login-1 .login-inner-form .social-list li {
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
}

.login-1 .login-inner-form .social-list li a {
    margin:2px;
    font-size: 14px;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}

.login-1 .login-inner-form .footer {
    font-size: 14px;
    padding: 15px 20px;
    background-color: #f5f5f5;
    border-radius: 0 0 5px 5px;
    border-top: solid 1px #f5f5f5;
}

.login-1 .login-inner-form .footer span a {
    color: #717171;
}

.login-1 .login-inner-form button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.login-1 .login-inner-form .btn-theme:not([disabled]):not(.disabled).active, .btn-theme:not([disabled]):not(.disabled):active, .show > .btn-theme.dropdown-toggle {
    box-shadow: none;
}

.login-1 .login-inner-form .btn-theme.focus, .btn-theme:focus {
    box-shadow: none;
}

.login-1 .login-inner-form .btn-theme {
    background: #0f96f9;
    border: none;
    color: #fff;
}

.login-1 .login-inner-form .btn-theme:hover {
    background: #0294B6;
}

/** Social media **/
.login-1 .facebook-bg {
    background: #4867aa;
    color: #fff;
}

.login-1 .facebook-bg:hover {
    background: #3b589e;
    color: #fff;
}

.login-1 .twitter-bg {
    background: #33CCFF;
    color: #fff;
}

.login-1 .twitter-bg:hover {
    background: #56d7fe;
    color: #fff;
}

.login-1 .google-bg {
    background: #db4437;
    color: #fff;
}

.login-1 .google-bg:hover {
    background: #dc4e41;
    color: #fff;
}

.login-1 .linkedin-bg {
    background: #0177b5;
    color: #fff;
}

.login-1 .linkedin-bg:hover {
    background: #1c82ca;
    color: #fff;
}

/** MEDIA **/
@media (max-width: 992px) {
    .login-1 {
        padding: 30px 0;
    }
}

